<style>
    .navbar-nav .nav-link {
        color:white;
    }
    .navbar-nav .nav-link:hover {
        color: #0a7979;
    }
    .navbar-brand{
        color: white;
        font-weight: bold;
        margin-left: 2em;
    }
    .navbar-brand:hover{
        color: #0a7979;
    }
    nav{
        border: 2px solid #0a7979;
        border-top: none;
    }
</style>
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bar App</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/client/order">Start an Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="init">Bartender Hub</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    document.getElementById('init').addEventListener('click', function() {
        
        const code = window.prompt("Enter employee Code:");
        
        fetch(`/bartender/init`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ code })
        })
            .then(res => res.json())
            .then(data => {
                if (data) {
                    sessionStorage.setItem('employee', JSON.stringify(data));
                    window.location.href = '/bartender/queue';
                } else {
                    alert('Invalid employee code. Access denied.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while initializing the bartender session.');
            });
    });
</script>