<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Express App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="bg-dark">
    {{> nav}}
    <div class="container mt-4 bg-dark">
    {{{body}}}
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>